.dragArea .ant-table-bordered.ant-table-fixed-header {
  background-color: transparent;
}
.dragArea .noBorder .ant-table-bordered.ant-table-fixed-header {
  border: none !important;
}
.dragArea .noBorder .ant-table-bordered.ant-table-fixed-header .ant-table-container {
  border: none !important;
}
.dragArea .noBorder .ant-table-bordered.ant-table-fixed-header .ant-table table {
  border-radius: 0 0 0 0 !important;
}
.dragArea .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
  border: none !important;
}
.dragArea .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
  border: none !important;
}
.dragArea .noBorder .ant-empty {
  display: none !important;
}
.dragArea .ant-carousel .slick-slider {
  padding-bottom: 0px !important;
}
.dragArea .ant-carousel .slick-dots-bottom {
  width: initial !important;
}
.dragArea .ant-table-fixed-header .ant-table-body {
  background-color: transparent;
}
.dragArea .noBorder .ant-table-header > table > thead > tr > th {
  border-right: none !important;
  border-bottom: none !important;
}
.dragArea .noBorder .ant-table-body > table > tbody > tr > td {
  border-right: none !important;
  border-bottom: none !important;
}
.dragArea .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th {
  background-color: #223f6d;
  text-align: center;
  padding: 2px 0 2px 0;
  color: #fff;
}
.dragArea .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td {
  background-color: transparent;
  text-align: center;
  padding: 4px 0 4px 0;
  color: #fff;
}
.dragArea .ant-table-tbody > tr > td {
  padding: 0px;
}
.dragArea .ant-empty-normal {
  color: #fff;
}
.dragArea .ant-empty-img-simple-path {
  fill: none;
}
.dragArea .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(238, 238, 238, 0.25);
}
.dragArea .ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: rgba(238, 238, 238, 0.25);
}
.dragArea .ant-tree {
  background: transparent !important;
  overflow: auto;
  height: inherit;
}
.dragArea .ant-tree::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.dragArea .ant-tree::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 3px;
}
.dragArea .ant-table tfoot > tr > td {
  padding: 0px !important;
  color: #fff !important;
  border-top: 1px solid #f0f0f0;
}
.dragArea .ant-table-empty {
  background-color: transparent;
}
.dragArea .ant-table-empty .ant-table-cell {
  padding: 0px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0 !important;
  color: #fff;
}
.dragArea .ant-table-empty .ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background: transparent;
}
.dragArea .ant-table-empty .ant-table-tbody > tr:hover {
  background: transparent;
}
.dragArea .ant-table-empty .ant-table-placeholder {
  background: transparent;
}
.dragArea .ant-table-tbody > tr:hover {
  background: #36485d;
}
.dragArea .ant-table-body::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.dragArea .ant-table-body::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 3px;
}
.view-container .ant-table-bordered.ant-table-fixed-header {
  background-color: transparent;
}
.view-container .ant-tag {
  font-weight: bold;
}
.view-container .ant-pagination li {
  background: rgba(0, 0, 0, 0.12);
}
.view-container .ant-pagination li button {
  background: rgba(0, 0, 0, 0.12);
}
.view-container .ant-pagination li button svg {
  color: #fff;
}
.view-container .ant-pagination li a {
  color: #fff;
}
.view-container .ant-pagination li a .ant-pagination-item-ellipsis {
  color: #fff;
}
.view-container .ant-pagination li a .ant-pagination-item-link::after {
  display: none;
}
.view-container .ant-pagination li .ant-select-selector {
  background-color: transparent;
  color: #Fff;
}
.view-container .noBorder .ant-table-bordered.ant-table-fixed-header {
  border: none !important;
}
.view-container .noBorder .ant-table-bordered.ant-table-fixed-header .ant-table-container {
  border: none !important;
}
.view-container .noBorder .ant-table-bordered.ant-table-fixed-header .ant-table table {
  border-radius: 0 0 0 0 !important;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container {
  border: none !important;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container table {
  padding: 8px;
  background: #1a233b;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
  border: none !important;
  background-color: #233c5b;
  text-align: center;
  padding: 8px 0px;
  color: #fff;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td input {
  background-color: #1a233b;
  color: #fff;
  width: 80%;
  text-align: center;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td .ant-select {
  color: #fff;
  width: 80%;
  text-align: center;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td .ant-select .ant-select-selector {
  background-color: #1a233b;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td .ant-select .ant-select-selection-item {
  background: transparent;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td .ant-select .ant-select-selection-item .ant-select-selection-item-remove {
  color: #fff;
}
.view-container .noBorder .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
  border: none !important;
  background-color: #336087;
  text-align: center;
  padding: 8px 0px;
  color: #fff;
}
.view-container .noBorder .ant-empty {
  display: none !important;
}
.view-container .ant-carousel .slick-slider {
  padding-bottom: 0px !important;
}
.view-container .ant-carousel .slick-dots-bottom {
  width: initial !important;
}
.view-container .ant-table-fixed-header .ant-table-body {
  background-color: transparent;
}
.view-container .noBorder .ant-table-header > table > thead > tr > th {
  border-right: none !important;
  border-bottom: none !important;
}
.view-container .noBorder .ant-table-body > table > tbody > tr > td {
  border-right: none !important;
  border-bottom: none !important;
}
.view-container .ant-empty-normal {
  color: #fff;
}
.view-container .ant-empty-img-simple-path {
  fill: none;
}
.view-container .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(238, 238, 238, 0.25);
}
.view-container .ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: rgba(238, 238, 238, 0.25);
}
.view-container .ant-tree {
  background: transparent !important;
  overflow: auto;
  height: inherit;
}
.view-container .ant-tree::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.view-container .ant-tree::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 3px;
}
.view-container .ant-table tfoot > tr > td {
  padding: 0px !important;
  color: #fff !important;
  border-top: 1px solid #f0f0f0;
}
.view-container .ant-table-empty {
  background-color: transparent;
}
.view-container .ant-table-empty .ant-table-cell {
  padding: 0px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0 !important;
  color: #fff;
}
.view-container .ant-table-empty .ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background: transparent;
}
.view-container .ant-table-empty .ant-table-tbody > tr:hover {
  background: transparent;
}
.view-container .ant-table-empty .ant-table-placeholder {
  background: transparent;
}
.view-container .ant-table-tbody > tr:hover {
  background: #36485d;
}
.view-container .ant-table-body::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.view-container .ant-table-body::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 3px;
}
