.ant-row {
  display: flex !important;
}
.anticon:before {
  display: none !important;
}
.ant-modal-close-x:before {
  display: none !important;
}
.ant-statistic-title {
  color: #fff;
}
.ant-input {
  height: 32px;
}
.ant-form-item-label {
  padding: 0px !important;
}
.ant-form-item-label label {
  color: #fff !important;
}
.ant-modal-content {
  background-color: #3c3e48;
}
.ant-modal-content .ant-modal-close {
  color: #fff;
}
.ant-modal-content .ant-modal-header {
  background-color: #3c3e48;
  color: #fff;
  border-bottom: none;
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, #2382fe, #00ddff) 1 10;
}
.ant-modal-content .ant-modal-header .ant-modal-title {
  font-size: 18px !important;
  color: #fff !important;
  font-weight: bold !important;
}
.ant-modal-content .ant-modal-body {
  background-color: #3c3e48;
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-input {
  background-color: #0d1927;
  color: #fff;
  border: 1px solid transparent;
}
.ant-modal-content .ant-modal-body .ant-radio-wrapper {
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-tree {
  background: #3c3e48;
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: #f6bb42;
}
.ant-modal-content .ant-modal-body .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #f6bb42;
}
.ant-modal-content .ant-modal-body .ant-input-number-input {
  background-color: #0d1927;
  border: 1px solid transparent;
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-select {
  color: #fff;
  width: 100%;
}
.ant-modal-content .ant-modal-body .ant-select .ant-select-selector {
  background-color: #0d1927;
  border: 1px solid transparent;
}
.ant-modal-content .ant-modal-body .ant-select .ant-select-selector .ant-select-item {
  background-color: #0d1927;
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-select .ant-select-item {
  background-color: #0d1927;
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-transfer {
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-transfer .ant-transfer-list-header {
  background: #3c3e48;
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-empty-img-simple .ant-empty-img-simple-path {
  fill: transparent;
}
.ant-modal-content .ant-modal-body .ant-empty-img-simple .ant-empty-img-simple-ellipse {
  fill: transparent;
}
.ant-modal-content .ant-modal-body .ant-empty-description {
  color: #fff;
}
.ant-modal-content .ant-modal-body .ant-table .ant-table-header {
  background-color: #3c3e48;
  border-bottom: 1px solid #fff;
}
.ant-modal-content .ant-modal-body .ant-table table {
  padding: 0px;
}
.ant-modal-content .ant-modal-body .ant-table .ant-table-body {
  background-color: #3c3e48;
}
.ant-modal-content .ant-modal-body .ant-table .ant-table-cell {
  background-color: #3c3e48;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.ant-modal-content .ant-modal-body .ant-transfer-list-content-item:hover {
  color: #1c3c86;
}
.ant-modal-content .ant-modal-body .ant-tabs-nav-wrap .ant-tabs-tab {
  background: #3c3e48;
  color: #fff;
  border-bottom: none;
}
.ant-modal-content .ant-modal-body .edit-area {
  background-color: #3c3e48;
  color: #fff;
}
.ant-modal-content .ant-modal-body .edit-area .ant-collapse {
  border: none;
  background-color: #3c3e48;
}
.ant-modal-content .ant-modal-body .edit-area .ant-collapse .ant-collapse-item {
  margin: 10px 0px;
  border-bottom: none;
  background: #33343a;
  border-top: none;
}
.ant-modal-content .ant-modal-body .edit-area .ant-collapse-header {
  padding: 4px 16px;
  padding-left: 40px;
  border: 0;
  background-color: #275a9efc;
  color: #fff;
}
.ant-modal-content .ant-modal-body .edit-area .ant-collapse-content {
  font-weight: bold;
  color: #fff;
  background-color: #33343a;
  border-top: 1px solid #40a9ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid #51525a;
  border-right: 1px solid #51525a;
}
.ant-modal-content .ant-modal-body .edit-area em {
  color: #fff;
}
.ant-modal-content .ant-modal-body::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.ant-modal-content .ant-modal-body::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 3px;
}
.ant-modal-content .ant-modal-footer {
  background-color: #3c3e48;
  color: #fff;
  border-top: none;
}
.ant-modal-content .ant-btn {
  background: transparent;
  color: #fff;
}
.ant-modal-content .ant-btn:hover {
  background: transparent;
  color: #fff;
}
.ant-modal-confirm {
  top: 20% !important;
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title {
  color: #fff;
}
.ant-select-dropdown {
  padding: 0px !important;
  color: #fff;
}
.ant-select-dropdown .ant-select-item-option {
  font-weight: bold !important;
}
.ant-select-dropdown .ant-select-item .ant-select-item-option {
  color: #000;
}
.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #2382fe !important;
  color: #fff;
}
.ele-transfer .ant-transfer-list-body-search-wrapper {
  height: initial !important;
  position: relative !important;
  padding: 12px !important;
}
.ele-transfer .ant-transfer-list-body-search-wrapper .ant-transfer-list-search-action {
  position: absolute !important;
  top: 12px !important;
  right: 12px !important;
  bottom: 12px !important;
  width: 28px !important;
  color: rgba(0, 0, 0, 0.25) !important;
  line-height: 32px !important;
  text-align: center !important;
}
.ele-transfer .ant-transfer-list-content {
  padding-top: 0px !important;
}
.view-content .ant-tag {
  color: #fff !important;
}
.period-date {
  display: flex;
}
.period-date .time-pick-item {
  display: inline-block;
}
.period-date .time-pick-item > input {
  display: inline;
  width: 18px;
  height: 25px;
  border: none;
}
.period-date .time-pick-item > input:focus {
  outline: none;
}
.period-date-result {
  font-size: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 15px;
}
.period-date-result img {
  margin-right: 6px;
}
.period-date-result span {
  width: 330px;
}
.datasource-modal .ant-form-item-label label {
  width: 120px;
}
.group-add .ant-modal-content .ant-modal-header {
  border-radius: 4px 4px 0 0;
  padding: 4px 16px !important;
}
.group-add .group-add-content {
  padding: 40px 20px;
}
.group-add .group-add-content .group-title {
  margin-bottom: 10px;
}
.ant-spin-nested-loading > .ant-spin-container {
  opacity: 1 !important;
}
.ant-*:before {
  display: none !important;
}
.ant-*::before {
  display: none !important;
}
