.model-content-canvas .ele-info {
  display: flex;
  margin-bottom: 20px;
}
.model-content-canvas .ele-info .ele-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 10px;
}
.model-content-canvas .ele-info .ele-detail {
  flex: 1;
}
.model-content-canvas .ele-info .ele-detail .ant-checkbox-wrapper {
  margin: 4px 0px;
}
.model-content-canvas .ele-info .ele-detail .ele-btn {
  padding: 4px 12px;
  border-radius: 4px;
  background: #0095ff;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
.model-content-canvas .resolution-info {
  padding: 0px 40px;
}
