
@font-face {font-family: "anticon";
  src: url('iconfont.eot?t=1470281018'); /* IE9*/
  src: url('iconfont.eot?t=1470281018#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470281018') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470281018') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470281018#iconfont') format('svg'); /* iOS 4.1- */
}

.anticon {
  font-family:"anticon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.anticon-arrowleft:before { content: "\e620"; }
.anticon-arrowright:before { content: "\e621"; }
.anticon-arrowup:before { content: "\e622"; }
.anticon-arrowdown:before { content: "\e623"; }
.anticon-caretcircleleft:before { content: "\e604"; }
.anticon-caretcircleright:before { content: "\e605"; }
.anticon-caretcircleup:before { content: "\e606"; }
.anticon-caretcircledown:before { content: "\e607"; }
.anticon-forward:before { content: "\e608"; }
.anticon-backward:before { content: "\e609"; }
.anticon-caretcircleoleft:before { content: "\e60b"; }
.anticon-caretcircleoright:before { content: "\e60d"; }
.anticon-caretcircleodown:before { content: "\e60e"; }
.anticon-caretright:before { content: "\e60a"; }
.anticon-caretleft:before { content: "\e60f"; }
.anticon-caretup:before { content: "\e610"; }
.anticon-caretdown:before { content: "\e611"; }
.anticon-fastforward:before { content: "\e612"; }
.anticon-fastbackward:before { content: "\e613"; }
.anticon-stepbackward:before { content: "\e614"; }
.anticon-stepforward:before { content: "\e615"; }
.anticon-circleodown:before { content: "\e617"; }
.anticon-circleoup:before { content: "\e618"; }
.anticon-circleoleft:before { content: "\e619"; }
.anticon-circleoright:before { content: "\e616"; }
.anticon-circleright:before { content: "\e61a"; }
.anticon-circleup:before { content: "\e61c"; }
.anticon-playcircle:before { content: "\e61e"; }
.anticon-playcircleo:before { content: "\e61f"; }
.anticon-circleleft:before { content: "\e61b"; }
.anticon-right:before { content: "\e600"; }
.anticon-left:before { content: "\e601"; }
.anticon-up:before { content: "\e602"; }
.anticon-down:before { content: "\e603"; }
.anticon-reload:before { content: "\e626"; }
.anticon-doubleleft:before { content: "\e624"; }
.anticon-doubleright:before { content: "\e625"; }
.anticon-retweet:before { content: "\e627"; }
.anticon-shrink:before { content: "\e628"; }
.anticon-arrowsalt:before { content: "\e629"; }
.anticon-rollback:before { content: "\e62a"; }
.anticon-verticleleft:before { content: "\e62b"; }
.anticon-verticleright:before { content: "\e62c"; }
.anticon-cross:before { content: "\e62d"; }
.anticon-check:before { content: "\e62e"; }
.anticon-checkcircle:before { content: "\e62f"; }
.anticon-checkcircleo:before { content: "\e630"; }
.anticon-crosscircle:before { content: "\e631"; }
.anticon-crosscircleo:before { content: "\e632"; }
.anticon-exclamation:before { content: "\e633"; }
.anticon-exclamationcircle:before { content: "\e634"; }
.anticon-exclamationcircleo:before { content: "\e635"; }
.anticon-info:before { content: "\e636"; }
.anticon-infocircle:before { content: "\e637"; }
.anticon-infocircleo:before { content: "\e638"; }
.anticon-minuscircle:before { content: "\e639"; }
.anticon-minuscircleo:before { content: "\e63a"; }
.anticon-minus:before { content: "\e63b"; }
.anticon-pluscircleo:before { content: "\e63c"; }
.anticon-pluscircle:before { content: "\e63d"; }
.anticon-plus:before { content: "\e63e"; }
.anticon-swapleft:before { content: "\e63f"; }
.anticon-swapright:before { content: "\e640"; }
.anticon-swap:before { content: "\e641"; }
.anticon-clockcircle:before { content: "\e642"; }
.anticon-clockcircleo:before { content: "\e643"; }
.anticon-pausecircle:before { content: "\e644"; }
.anticon-pausecircleo:before { content: "\e645"; }
.anticon-pause:before { content: "\e646"; }
.anticon-questioncircle:before { content: "\e647"; }
.anticon-questioncircleo:before { content: "\e648"; }
.anticon-question:before { content: "\e649"; }
.anticon-areachart:before { content: "\e64c"; }
.anticon-appstore:before { content: "\e64d"; }
.anticon-apple:before { content: "\e64e"; }
.anticon-android:before { content: "\e64f"; }
.anticon-bars:before { content: "\e650"; }
.anticon-barchart:before { content: "\e651"; }
.anticon-calendar:before { content: "\e654"; }
.anticon-book:before { content: "\e655"; }
.anticon-chrome:before { content: "\e65c"; }
.anticon-code:before { content: "\e65d"; }
.anticon-creditcard:before { content: "\e65f"; }
.anticon-customerservice:before { content: "\e65e"; }
.anticon-copy:before { content: "\e660"; }
.anticon-delete:before { content: "\e661"; }
.anticon-ellipsis:before { content: "\e667"; }
.anticon-edit:before { content: "\e668"; }
.anticon-exception:before { content: "\e66a"; }
.anticon-file:before { content: "\e66b"; }
.anticon-filter:before { content: "\e66f"; }
.anticon-folder:before { content: "\e670"; }
.anticon-frowncircle:before { content: "\e672"; }
.anticon-frown:before { content: "\e673"; }
.anticon-smilecircle:before { content: "\e676"; }
.anticon-smile:before { content: "\e677"; }
.anticon-mehcircle:before { content: "\e678"; }
.anticon-meh:before { content: "\e679"; }
.anticon-github:before { content: "\e674"; }
.anticon-laptop:before { content: "\e67a"; }
.anticon-inbox:before { content: "\e67b"; }
.anticon-ie:before { content: "\e67c"; }
.anticon-home:before { content: "\e67d"; }
.anticon-linechart:before { content: "\e67f"; }
.anticon-link:before { content: "\e67e"; }
.anticon-logout:before { content: "\e681"; }
.anticon-mail:before { content: "\e682"; }
.anticon-menuunfold:before { content: "\e683"; }
.anticon-menufold:before { content: "\e684"; }
.anticon-mobile:before { content: "\e685"; }
.anticon-notification:before { content: "\e686"; }
.anticon-paperclip:before { content: "\e687"; }
.anticon-phone:before { content: "\e688"; }
.anticon-picture:before { content: "\e689"; }
.anticon-piechart:before { content: "\e68a"; }
.anticon-poweroff:before { content: "\e68b"; }
.anticon-setting:before { content: "\e68d"; }
.anticon-sharealt:before { content: "\e68e"; }
.anticon-search:before { content: "\e690"; }
.anticon-poweroff1:before { content: "\e691"; }
.anticon-solution:before { content: "\e68f"; }
.anticon-tablet:before { content: "\e695"; }
.anticon-team:before { content: "\e680"; }
.anticon-totop:before { content: "\e69a"; }
.anticon-videocamera:before { content: "\e69b"; }
.anticon-user:before { content: "\e69c"; }
.anticon-save:before { content: "\e69e"; }
.anticon-unlock:before { content: "\e69f"; }
.anticon-shoppingcart:before { content: "\e692"; }
.anticon-windows:before { content: "\e6a0"; }
.anticon-aliwangwango:before { content: "\e64a"; }
.anticon-aliwangwang:before { content: "\e64b"; }
.anticon-camerao:before { content: "\e652"; }
.anticon-camera:before { content: "\e653"; }
.anticon-eyeo:before { content: "\e66d"; }
.anticon-eye:before { content: "\e66e"; }
.anticon-enviroment:before { content: "\e665"; }
.anticon-enviromento:before { content: "\e666"; }
.anticon-staro:before { content: "\e693"; }
.anticon-star:before { content: "\e694"; }
.anticon-tags:before { content: "\e656"; }
.anticon-tagso:before { content: "\e657"; }
.anticon-tag:before { content: "\e658"; }
.anticon-tago:before { content: "\e659"; }
.anticon-cloud:before { content: "\e65a"; }
.anticon-clouddownload:before { content: "\e65b"; }
.anticon-cloudupload:before { content: "\e696"; }
.anticon-clouduploado:before { content: "\e697"; }
.anticon-clouddownloado:before { content: "\e698"; }
.anticon-cloudo:before { content: "\e699"; }
.anticon-iconfontcaretcircleoup:before { content: "\e60c"; }
.anticon-loading:before { content: "\e6a1"; }
.anticon-dislike:before { content: "\e6a2"; }
.anticon-like:before { content: "\e6a3"; }
.anticon-message:before { content: "\e6a4"; }
.anticon-download:before { content: "\e663"; }
.anticon-upload:before { content: "\e664"; }
.anticon-paycircle:before { content: "\e6a8"; }
.anticon-paycircleo:before { content: "\e6a9"; }
.anticon-exclefile:before { content: "\e6ac"; }
.anticon-pdffile:before { content: "\e6ab"; }
.anticon-pptfile:before { content: "\e6a7"; }
.anticon-jpgfile:before { content: "\e6aa"; }
.anticon-unknowfile:before { content: "\e6a6"; }
.anticon-minussquareo:before { content: "\e6ad"; }
.anticon-plussquareo:before { content: "\e6ae"; }
.anticon-iconfontdesktop:before { content: "\e662"; }
.anticon-hdd:before { content: "\e675"; }
.anticon-folderopen:before { content: "\e671"; }
.anticon-circledown:before { content: "\e61d"; }
.anticon-scan:before { content: "\e6af"; }
.anticon-heart:before { content: "\e68c"; }
.anticon-hearto:before { content: "\e6b0"; }
.anticon-calculator:before { content: "\e6b1"; }
.anticon-appstoreo:before { content: "\e6b2"; }
.anticon-lock:before { content: "\e69d"; }
.anticon-filetext:before { content: "\e66c"; }
.anticon-export:before { content: "\e669"; }
.anticon-export2:before { content: "\e6b4"; }
.anticon-pushpino:before { content: "\e6b3"; }
.anticon-pushpin:before { content: "\e6b5"; }
.anticon-enter:before { content: "\e6b6"; }
.anticon-qrcode:before { content: "\e6a5"; }
